@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
}
:-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
::-moz-placeholder {
    font-family: 'Nunito', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Nunito', sans-serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 16px;
}